{% extends "index.html" %} {% block content %}
<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
    <div class="page-wrapper">
        <div class="blog-list clearfix">
            <!--@@@@@@@-->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia distinctio laboriosam inventore harum corporis porro dolor assumenda sequi animi, culpa totam possimus necessitatibus, fuga asperiores expedita labore eaque eveniet aliquam. Voluptatem
                temporibus deleniti blanditiis dolore atque eos cum omnis non laudantium, saepe reprehenderit iste praesentium ex esse quasi. Inventore consequatur eius pariatur nesciunt, autem, possimus repudiandae alias eligendi facilis perspiciatis
                deleniti sint enim tenetur! Expedita, praesentium modi adipisci unde error, accusamus architecto nemo placeat ipsam nobis aliquid, distinctio aut autem voluptatibus dolores numquam vero quasi illum consequuntur. At rerum saepe tenetur
                adipisci dolor laudantium eaque beatae voluptatum iure, vel eligendi magnam, aspernatur fuga natus itaque. Quaerat quidem dolore omnis corporis animi ratione repudiandae ut sapiente. Natus, laborum asperiores? Aliquam, provident quod?
                Ab repellendus esse aperiam tempora pariatur maxime error! Illo, earum. Totam numquam officiis repudiandae repellendus, non deleniti? Dignissimos molestias omnis rem laborum inventore facere incidunt veniam non reprehenderit, ducimus corrupti
                mollitia praesentium in! Ut exercitationem nesciunt numquam. Ratione laboriosam vero repudiandae molestias fuga unde voluptatibus corrupti adipisci accusantium minus, aspernatur porro fugit suscipit officia at animi, itaque ipsam, architecto
                ab accusamus aut in obcaecati. Ipsum nobis quo tenetur, at vitae tempore aspernatur nihil cum error consectetur similique molestias nisi fugiat natus quis mollitia accusamus laudantium amet unde optio blanditiis neque inventore! Sed eum
                iusto consequuntur vel magnam perferendis quia nam labore, est in optio, voluptatum nihil itaque eos minima commodi assumenda consectetur asperiores veritatis nostrum! Quos quibusdam minima autem molestias, tenetur praesentium illum quisquam
                laborum earum doloremque! Magni, eligendi vel nemo dicta recusandae quam quae officia autem aspernatur adipisci ipsa omnis quisquam sunt assumenda, nihil excepturi voluptas ipsum. Corporis vero tempora, minima delectus eos, repellat magni
                repudiandae perspiciatis voluptas ipsa reiciendis vitae vel culpa quasi. Alias, distinctio quaerat nulla molestiae earum exercitationem nostrum laborum necessitatibus! Eligendi unde consequatur consectetur mollitia eveniet harum repudiandae,
                neque quisquam, dolorem quia aliquid vitae ipsum sed maiores voluptatem atque. Nulla, hic? Sapiente omnis dolorum similique quis molestiae modi, mollitia nisi asperiores corrupti dolore eaque illo autem laborum in quod consectetur commodi
                inventore quaerat placeat odit? Nihil aut excepturi illum nesciunt aperiam reiciendis, tempora iure non numquam. Optio, ad ea laudantium omnis minus deleniti libero architecto nemo adipisci ex excepturi voluptatem culpa perferendis accusantium!
                Fugit, iure velit? Possimus, officia ad eaque ratione nulla, perferendis corporis quia accusamus recusandae ipsum ipsa, earum ipsam laboriosam? Doloribus, aperiam libero! Nisi enim quibusdam sunt non. Earum labore beatae iure.</p>



            <!-- end blog-box -->
        </div>
        <!-- end blog-list -->
    </div>
    <!-- end page-wrapper -->

    <hr class="invis">


    <!-- end row -->
</div>
{% endblock %}