<!doctype html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MV9RNQWTG2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-MV9RNQWTG2');
    </script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="static/index.css" />
    <meta name="description" content="{{page_data.metadesc}}">
    <meta name="keywords" content="{{page_data.metatags}}">
    <meta name="author" content="Soumya Jana">
    <title>{{page_data.title}}</title>


</head>

<body>

    <!--################################################################################-->
    <div style="padding-bottom: 10px;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Kahini.herokuapp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="all">All posts</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      category
                    </a>
                            <ol class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a href="bengali-motivation">
                                    <li>প্রেরণামূলক গল্প </li>
                                </a>
                                <a href="rahasya">
                                    <li>রহস্য ধর্মী কাহিনী</li>
                                </a>
                                <a href="true-bengali-incident">
                                    <li>সত্যি ঘটনার ইতিহাস</li>
                                </a>
                                <a href="mojadar-information">
                                    <li>গুরুত্বপূর্ণ মজাদার তথ্য</li>
                                </a>
                                <a href="bhoutik-kahini">
                                    <li>ভৌতিক কাহিনী</li>
                                </a>
                                <a href="bengali-movie-review">
                                    <li>হলিউড মুভি </li>
                                </a>

                            </ol>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="about&contact">About&Contct</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="privacy">Privacy&Policy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="terms&condition">Terms&Condition</a>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </div>

    <!--################################################################################-->
    <div>
        <img src="static/bitmap.png" id="logo-j">
    </div>
    <div id="search-j" class="container">
        <form action="search" method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input name="search" type="text" class="form-control" placeholder="search in this blog" aria-label="Recipient's username" aria-describedby="button-addon2">
                <button class="btn btn-outline-primary" type="submit" id="button-addon2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                      </svg>
                </button>
            </div>
        </form>
    </div>
    <!--################################################################################-->
    <div id="content-j" class="container">
        <!--################################################################################-->

        <div class="left-j">
            {% block content %}
            <strong><p>recent post</p></strong>
            <div class="story">
                <div>
                    <a href="{{recent.slug}}">
                        <h4>{{recent.title}}</h4>
                    </a>

                </div>
                <div id="title-j">
                    <a href="{{recent.slug}}">
                        <div class="thum">

                            <img src="{{recent.image}}" / style="object-fit: cover; width:100%; height:100%">

                        </div>
                    </a>
                    <p>{{recent.content|slice:500|safe}}</p>
                </div>
                <div>
                    <p style="color: brown;"><strong>date:- {{recent.date}}</strong></p>
                </div>


            </div>
            <hr>
            <br> {% for item in data %}
            <div class="story">
                <div>
                    <a href="{{item.slug}}">
                        <h4>{{item.title}}</h4>
                    </a>

                </div>
                <div id="title-j">

                    <a href="{{item.slug}}">
                        <div class="thum">

                            <img src="{{item.image}}" / style="object-fit: cover; width:100%; height:100%">

                        </div>
                    </a>

                    <p>{{item.content|slice:500|safe}}</p>
                </div>
                <div>
                    <p style="color: brown;"><strong>date:- {{item.date}}</strong></p>
                </div>


            </div>
            {% endfor %} {% endblock %}

        </div>
        <!--################################################################################-->
        <div class="right-j">

            <div>
                <p><strong>Feauture Posts</strong> </p>
            </div>

            {% for item in features %}
            <div class="feature" style="padding-bottom:10px ;">
                <img src="{{item.image}}">
                <a href="{{item.post}}">{{item.title}}</a>
            </div>
            {% endfor %}
            <hr>
            <p><strong>Pages</strong> </p>
            <ol>
                <a href="bengali-motivation">
                    <li>প্রেরণামূলক গল্প </li>
                </a>
                <a href="rahasya">
                    <li>রহস্য ধর্মী কাহিনী</li>
                </a>
                <a href="true-bengali-incident">
                    <li>সত্যি ঘটনার ইতিহাস</li>
                </a>
                <a href="mojadar-information">
                    <li>গুরুত্বপূর্ণ মজাদার তথ্য</li>
                </a>
                <a href="bhoutik-kahini">
                    <li>ভৌতিক কাহিনী</li>
                </a>
                <a href="bengali-movie-review">
                    <li>হলিউড মুভি </li>
                </a>
            </ol>
        </div>
        <!--################################################################################-->
    </div>

    <!--################################################################################-->
    <div>
        <div id="footer">
            <img src="static/bitmap2.png" id="logo2-j">
            <div class="social">
                <h5>Read interesting and cool story</h5>
            </div>
            <div class="social">
                <a href="https://in.pinterest.com/kahiniHerokuapp"><img style="width:20px; height: 20px; margin-left:10px;" src="static/pin.ico"></a>
                <a href="https://www.youtube.com/channel/UCWXRJJLNyuHg2tPbTNzc5fg"><img style="width:20px; height: 20px; margin-left:10px;" src="static/youtube.ico"></a>
                <a href="https://www.instagram.com/kahini.herokuapp/"><img style="width:20px; height: 20px; margin-left:10px;" src="static/insta.ico"></a>
            </div>

        </div>


    </div>
    <!--################################################################################-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


</body>

</html>